*{
    margin: 0;
    padding:0;
}
html,body{
    height: 100%;
}
#tltle{
    overflow: hidden;
    background-color: rgb(64,152,179);
    padding: 2%;
    margin-bottom: 15px;
    box-shadow:0 0 1px 0 rgb(112,172,193);
}
#jiu,#lie{
    width: 8%;
    height: 30px;
    margin-left: 2%;
    float: right;
    box-shadow: 0 0 1px 0 rgb(126,119,150);
}
.list1{background-color: rgb(51,126,162);}
.list2{background-color:rgb(198,49,139);}
#jiu img,#lie img{
    margin: 15%;
    width: 70%;

}
#content{
    margin: 0 auto;
    width: 95%;
    overflow: hidden;
}
.box{
    width: 49.5%;
    height: 180px;
    float: left;
}
.box:nth-of-type(2n+1){
    margin-right: 1%;
    margin-bottom: 1%;
}
.box1{
    width: 100%;
    height: 120px;
    padding: 2%;
    overflow: hidden;
    border-bottom: 1px solid rgb(238,238,238);
}
.box .img{
    width: 100%;
    overflow: hidden;
}
.box1 .img1{
    height: 96%;
    width: 30%;
    float: left;
    overflow: hidden;
}
.box1 p{
    width: 60%;
    margin-left: 3%;
    color: gray;
    float: left;
}
.box img{
    width: 180%;
    position: relative;
    left: -40%;
    height: 180px;
}
.box1 img{
    height: 120px;
}